.edit-course-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.section-input {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 74%; 
  }
}

.video-section-title-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.video-section-input-container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
}

.video-container-admin {
  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}

.video-admin {
  width: 250px;

  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.file-picker {
  display: none;
}

.secondary-btn {
  cursor: pointer;
  color: #6c757d;
  border-radius: 0.25rem;
  border: 1px solid #6c757d;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  margin-right: 10px;

  &:hover, &:active {
    color: white !important;
    background-color: #6c757d !important;
  }
}

.progress-bar-container {
 height: 25px;
 width: 25px;
 margin-left: 10px;
}

.progress-bar.CircularProgressbar {
  .CircularProgressbar-text {
    fill: var(--secondary-color);
    font-size: 25px;
  }

  .CircularProgressbar-path {
    stroke: var(--secondary-color);
  } 
}

.admin-container {
  min-height: 100%;
  width: 100%;
}

.upload-file-icons-container {
  display: flex;
  align-items: center;
}

.edit-course-save-btn {
  margin-right: 20px;
}

.full-screen-modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 500px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.x-mark-modal-container {
  display: flex;
  align-self: flex-end;
  margin: 15px 20px 0 0;
}

.modal-text-container {
  flex: 1;
  padding-bottom: 20px;
}

.btn-link.nav-link.admin {
  a {
    display: none;   

    @media screen and (min-width: 768px) {
      display: inline;
      color: var(--link-color); 
    }
  }
}

.courses-list-container {
  display: flex;
  width: 100%;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    padding: 10px 16px;
  }

  .courses-list-horizontal-line {
    height: 10px;
    margin-top: 10px;

    @media screen and (min-width: 768px) {
      height: 5px;
      margin-top: 0;
    }
  }

  &:hover {
    h5 {
      transition: all ease-in 0.2s;
      color: var(--hover-color-blue);
    }

    .courses-list-vertical-line {
      transition: all ease-in 0.2s;
      border-left: 5px solid var(--hover-color-blue);
    }
  }

  &:last-child {
    .courses-list-horizontal-line {
      display: none;
    }
  }

  .courses-list-section-title {
    text-align: left;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }
  
  .courses-list-vertical-line {
    border-left: 5px solid var(--secondary-color);
    height: 20px;
    margin-right: 10px;
    margin-top: 2px;
  }
}

.admin-accordion .accordion-button {
  padding-left: 0;
}

.admin-accordion .accordion-button:not(.collapsed) {
  background-color: white;
  border-bottom: 1px solid #dee2e6;
}

.admin-accordion-button .accordion-button:focus {
  box-shadow: none;
}

.form-check.form-switch.toggle-button {
  padding: 10px 10px 10px 40px;
}

.toggle-button .form-check-input:checked {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.toggle-button .form-check-input {
  cursor: pointer;
}

.toggle-button .form-check-input:focus {
  box-shadow: none;
}

.quiz-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.quiz-plus-icon {
  margin-top: -10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 74%;
  margin-left: 24px;
}

.add-more-inputs-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 11rem;
}

.add-users-form-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }
}

.add-users-input-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}