.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: linear-gradient(var(--link-color), var(--primary-color));
}

.auth-logo {
  margin-bottom: 20px;
  height: 150px;
  width: 200px;
}

.auth-card {
  padding: 20px 10px;
}

.login-card {
  width: 450px;
  min-height: 440px;
}

.registration-card {
  width: 450px;
}

.forgot-password-card {
  width: 450px;
  min-height: 350px;
  padding: 20px;

  .forgot-password-alert {
    margin: 20px 0;
    padding: 9px;
  }
}

.auth-card-body {
  padding: 20px 20px 0px 20px;
  flex: none;
}

.auth-button {
  width: 356px;
  margin-top: 20px;
}

.auth-paragraph {
  color: var(--darkgray)
}

.text-input input, .password-input input {
  width: 356px;
}

.password-icon {
  margin-left: 12px;
}

.footer-container {
  margin-top: 30px;
  display: flex;
  width: 100;
  justify-content: center;
  align-items: center;
}

.auth-link-container {
  display: flex;
  width: 100%;
  justify-content: first baseline;
  margin-bottom: 15px;
}

.auth-link {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: var(--link-color);
    }
}