.card.card-body {
  border: none !important;
}

.home-container {
  display: flex;
  margin-top: 80px;
}

.card.sidebar-content-container-home {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.175);
    border-left: none;
    border-top: none;
    border-bottom: none;
    width: 25rem;
  }

  @media screen and (min-width: 1024px) {
    display: block;
    width: 28rem;
  }
}

.home-content-container {
  width: 100%;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    padding: 0 30px;
  }
}

.main-header {
  margin-bottom: 5px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin: 10px 0;
  }
}

.home-course-image {
  height: 200px;
  width: 200px;

  @media screen and (min-width: 768px) {
    height: 10rem;
    width: 10rem;
  }

  @media screen and (min-width: 1024px) {
    height: 12rem;
    width: 12rem;
  }
}

.progress-circle-container {
  padding-top: 2px;
  padding-right: 12px;
  border-right: 1px solid #dee2e6;
}

.progress-circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-bottom: 2px;
}

.empty-circle {
  border: 2px solid var(--secondary-color)
}

.full-circle {
  background-color: var(--secondary-color)
}

.table-header {
  width: 50px;
  border-right: 1px solid #dee2e6;
}

.btn-light.row-buttons {
  background: white;
  border: none;
  padding: 10px 16px;

  &:hover, &:active {
    background-color: var(--hover-color-grey) !important;
  }
}

.table .section-row-data {
  padding: 0;
}

.video-js-home {
  height: 200px;
  width: 340px;
  margin-bottom: 20px;
  padding-right: 10px;

  @media screen and (min-width: 600px) {
    height: 20rem;
    width: 35rem;
    padding-right: 0px;
  }

  @media screen and (min-width: 768px) {
    width: 32rem;
    height: 20rem;
  }

  @media screen and (min-width: 930px) {
    width: 38rem;
    height: 24rem;
  }

  @media screen and (min-width: 1125px) {
    width: 50rem;
    height: 30rem;
  }
}

.course-title-home {
  margin: 40px 0 30px 0;
  text-align: center;
  padding: 0 5px;
}

.instructor-container {
  width: 100%;
  min-height: 100%;

  @media screen and (min-width: 1024px) {
    width: 80%;
  }
}

.instructor-content-container {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  align-items: center;
  
  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 20px;
  }
}

.instructor-image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 30px;


  @media screen and (min-width: 768px) {
    width: 90px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 0px;
  }

}
