body, html, #root {
  height: 100%;
  overflow-x: hidden;
}

:root {
  --primary-color: #132843;
  --secondary-color: #F18F0F;
  --link-color: #3E819A;
  --hover-color-grey: #e7e6e6;
  --hover-color-blue: #18355a;
  --hover-color-orange: #db810d;
}

.icon, .link {
  cursor: pointer;
}

.main-button.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &:hover, &:active {
    background-color: var(--hover-color-blue) !important;
    border: 1px solid var(--hover-color-blue) !important;
  }
}


.secondary-button.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &:hover, &:active {
    background-color: var(--hover-color-blue) !important;
    border: 1px solid var(--hover-color-blue) !important;
  }
}

.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 10px;
  background: linear-gradient(var(--link-color), var(--primary-color));

  h1, p {
    color: white;
  }

  .page-not-found-logo {
    height: 140px;
    width: 160px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

@import "./login";
@import "./admin";
@import "./sidebar";
@import "./navbar";
@import "./home";