$primary: #132843;

@import "bootstrap/scss/bootstrap";

body, html, #root {
  height: 100%;
  overflow-x: hidden;
}

:root {
  --primary-color: #132843;
  --secondary-color: #F18F0F;
  --darkgrey: #6c757d;
  --border-color-grey: #adaaaa;
  --light-grey-color: #a8a8a8;
  --link-color: #3E819A;
  --hover-color-grey: #e7e6e6;
  --hover-color-blue: #1b3a64;
  --hover-color-orange: #db810d;
  --error-color: #dc3545;
  --hover-color-error: #e44c5b;
}

.main-button {
  &:hover, &:active {
    background-color: var(--hover-color-blue);
    border: 1px solid var(--hover-color-blue);
  }
}

.card {
  box-shadow: inset 1px 0px 5px 0px hsl(228deg 66% 45% / 15%);
}

.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 10px;
  background: linear-gradient(var(--link-color), var(--primary-color));

  h1, p {
    color: white;
  }

  .page-not-found-logo {
    height: 140px;
    width: 160px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

@import "./authentication";
@import "./admin";
@import "./sidebar";
@import "./navbar";
@import "./home";
@import "./error.scss";