.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
}

nav {
  background: var(--primary-color);
  height: 80px;
}

.nav-link {
  a {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.logout-error {
  width: 290px;
}

.navbar-brand {
  width: 90px;
  height: 70px;
}
