.circle-container {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  overflow: hidden;
  position: relative;
}

.left-half {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--secondary-color);
  left: 0;
}

.right-half {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: white;
  right: 0;
}

.download-link {
  color: rgb(26, 13, 171);
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
    color: rgb(26, 13, 171);
  }

  .pdf-icon {
    margin-right: 6px;
  }
}

.download-failed {
  margin-left: 12px;
  margin-bottom: 0;
  color: #6c757d;
}
