.sidebar-content-container-admin {
  margin-top: 20px;
  width: 30%;
}

.btn-light.sidebar {
  background-color: white;
  border: none;

  &:hover, &:active {
    background-color: var(--hover-color) !important;
    border: none !important;
  }
}