.sidebar-content-container-admin {
  display: none;

  @media screen and (min-width: 768px) {
    width: 30%; 
    display: flex;
  }
}

.btn-light.sidebar {
  background-color: white;
  border: none;

  &:hover, &:active {
    background-color: var(--hover-color-grey) !important;
    border: none !important;
  }
}