.chapter-input {
  width: 400px;
}

.email-input {
  width: 250px;
}

input {
  display: none;
}

.secondary-btn {
  cursor: pointer;
  color: #6c757d;
  border-radius: 0.25rem;
  border: 1px solid #6c757d;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  margin-right: 10px;

  &:hover {
    color: white;
    background-color: #6c757d;
  }
}

.progress-bar-container {
 height: 25px;
 width: 25px;
 margin-left: 10px;
}

.CircularProgressbar {
  .CircularProgressbar-text {
    fill: #f77e1d;
    font-size: 25px;
  }

  .CircularProgressbar-path {
    stroke: #f77e1d;
  } 
}

.admin-container {
  min-height: 100%;
}

.upload-file-icons-container {
  display: flex;
  align-items: center;
}

.video-js-edit {
  height: 200px;
  width: 300px;
}

.edit-course-save-btn {
  margin-right: 113px;
}