.section-input {
  width: 400px;
}

.email-input {
  width: 250px;
}

input {
  display: none;
}

.secondary-btn {
  cursor: pointer;
  color: #6c757d;
  border-radius: 0.25rem;
  border: 1px solid #6c757d;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  margin-right: 10px;

  &:hover {
    color: white;
    background-color: #6c757d;
  }
}

.progress-bar-container {
 height: 25px;
 width: 25px;
 margin-left: 10px;
}

.CircularProgressbar {
  .CircularProgressbar-text {
    fill: #f77e1d;
    font-size: 25px;
  }

  .CircularProgressbar-path {
    stroke: #f77e1d;
  } 
}

.admin-container {
  min-height: 100%;
}

.upload-file-icons-container {
  display: flex;
  align-items: center;
}

.video-js-edit {
  height: 200px;
  width: 300px;
}

.edit-course-save-btn {
  margin-right: 20px;
}

.full-screen-overlay-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 500px;
  padding: 20px 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.x-mark-overlay-container {
  display: flex;
  align-self: flex-end;
  margin: 0px 20px 0 0;
}