.contactContainer {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;  
}