.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 30px 0px 20px 0;
}

.app {
  border-radius: 8px;
  height: 95%;
  width: 95%;
  background-color: white;
  padding-bottom: 40px;
}

