.home-container {
  min-height: 100%;
}

.card.sidebar-container-home {
  width: 350px;
  border: none;
  border-right: 1px solid var(--hover-color);
}

.instructor-content-container {
  justify-content: center;
}

.instructor-image {
  border-radius: 50%;
}

.progress-circle-container {
  padding-top: 2px;
  margin-right: 5px;
}

.progress-circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.empty-circle {
  border: 2px solid var(--secondary-color)
}

.full-circle {
  background-color: var(--secondary-color)
}

.table-header {
  width: 50px;
  border-right: 1px solid #dee2e6;
}

.btn-light.row-buttons {
  border-left: 1px solid var(--hover-color);
  border-right: 1px solid var(--hover-color);

  &:hover {
    background-color: var(--hover-color);
    border: none;
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.video-js-home {
  height: 450px;
  width: 800px;
  margin-bottom: 20px;
}

.course-title-home {
  margin: 40px 0 30px 0;
}
