.sidebar-container-home {
  width: 356px;
}

.instructor-content-container {
  justify-content: center;
}

.instructor-image {
  border-radius: 50%;
}

.empty-circle-container {
  padding-top: 2px;
  margin-right: 5px;
}

.empty-circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 2px solid #f77e1d;
}

.table-header {
  width: 50px;
  border-right: 1px solid #dee2e6;
}

.row-buttons {
  background-color: white;
  border: 1px solid #dee2e6;
}

.clickable {
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.video-js-home {
  height: 450px;
  width: 800px;
  margin-bottom: 20px;
}
