body, html, #__next {
  height: 100%;
}

.icon, .link {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    transform: scale(1.1);
    color: white;
  }
}

@import "./login";
@import "./admin";
@import "./sidebar";
@import "./navbar";
@import "./home";