.login-card {
  width: 400px;
  min-height: 420px;
}

.login-button {
  width: 326px;
}

.login-input {
  width: 326px;
  margin-right: 10px;
}

.forgot-password-card {
  width: 400px;
  min-height: 320px;
 }