nav {
  background: var(--primary-color);
  height: 80px;
}

.nav-link {
  a {
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.logout-error {
  width: 200px;
}

.navbar-brand {
  width: 80px;
   height: 70px;
}
