.pageHeroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.titleContainer h1 {
  letter-spacing: 5px;
  font-size: 80px;
}