.sectionTitleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 50px 0;

}

.sectionTitle {
  font-size: 30px;
  font-weight: normal;
  margin: 0px 30px;
}
