.cardContainer {
  display: flex;
  column-gap: 70px;
  justify-content: center;
}

.card {
  height: 300px;
  width: 310px;
  border-radius: 8px;
  padding: 15px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, .25); */
}

.headerContainer {
  display: flex;
  align-items: center;
}

.servicesIcon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}