.sidebar-container {
  width: 350px;
  margin-top: 20px;
}

.btn-light.sidebar {
  background-color: white;
  border: none;

  &:hover {
    background-color: var(--hover-color);
    border: none;
  }
}