
.teamMembersContainer {
  display: flex;
  column-gap: 70px;
  justify-content: center;
}

.teamMemberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  text-align: center;
}

.profileImage {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.teamMemberName {
  font-size: 20px;
  margin-bottom: 2px;
}

.description {
  margin-top: 5px;
}