.workContainer {
  display: flex;
  flex-direction: column;
}

.projectsGrid {
  display: flex;
  column-gap: 70px;
  justify-content: center;
}

.projectContainer {
  height: 400px;
  width: 350px;
  border: 1px solid black;
  border-radius: 8px;
}